/* Color Theme Swatches in Hex */
$color-1: #ff5f5d;
$color-2: #3f7c85;
$color-3: #00ccbf;
$color-4: #72f2eb;
$color-5: #747e7e;
$color-6: #c43e83;

$color-red: $color-1;
$color-green: $color-2;

$color-highlight: $color-3;
