body{
  margin: 0;
  padding: 0;
}
/* Hintergrund mit Farbverlauf */
.home-section {
    background: linear-gradient(to right, #1f3d74, #2a5298);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home-image {
    width: 280px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  /* Überschrift */
  .home-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
  }
  
  /* Text */
  .home-text {
    font-size: 1.2rem;
    color: white;
  }
  
  /* Button */
  .home-btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    transition: background 0.3s ease;
  }
  
  .home-btn:hover {
    background-color: #e68900;
  }
  